{% load static %}
<nav class="navbar navbar-dark navbar-expand-lg nav">
    <div class="container-fluid">
        <a class="formato-a" href="{% url 'home' %}"><img class="w-50"src="{% static 'img/logo.png' %}" alt="img-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav d-flex justify-content-between align-items-center">
                <li class="nav-item seccion-nav">
                    <a class="formato-a" href="{% url 'home' %}">Home</a>
                    <a class="formato-a" href="{% url 'verAutos' %}">Ver vehículos</a>
                </li>
                <li class="nav-item seccion-nav me-2">
                    <form action="{% url 'buscarAutos' %}" method="GET">
                        <div class="buscador">
                            <button id="btnBuscar"> <img src="{% static 'img/buscar.png'%}" alt="img-buscar"> </button>
                            <input id="inputBuscar" type="text" name="buscador" placeholder="Buscar..." ></input>
                        </div>
                    </form>
                </li>
                <li class="nav-item seccion-nav flex-row justify-content-start" id="lista-opciones-sesion">
                    {% if user.is_authenticated %}
                        <a href="{% url 'carrito'%}">
                            <button class="boton-carrito-compra" id="btnCarritoCompra"></button>
                        </a>
                        <div class="container-usuario d-flex aling-items-center"> 
                            <p class="texto-usuario">{{user.username}}</p>
                            <img src="{% static 'img/user.png' %}" alt="img-user" class="m-0">
                        </div>
                        <a class="boton" href="{% url 'signout' %}">
                            <button type="submit">Cerrar sesion</button>
                        </a>
                    {% else %}
                        <a class="boton" href="{% url 'registrer' %}"><button> Registrarse </button></a>
                        <a class="boton" href="{% url 'signin' %}"><button> Iniciar sesion </button></a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>