{% load static %}
<div class="row mx-0 formato-footer">
    <div class="item-footer  col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1>CONTACTANOS</h1>
        <ul class="lista-footer">
            <a href=""><li>Centro de ayuda</li></a>
            <a href=""><li>Formulario de contacto</li></a>
            <a href="mailto:http/clientes@autosdelmar.cl?subject=Consulta%20desde%20el%20sitio%20web&body=Hola,%20me%20gustaría%20saber%20más%20sobre..."><li>correo a clientes@autosdelmar.cl</li></a>
            <a href=""><li>Llámanos al 600 345 2345 </li></a>
            <a href=""><li>Sucursales</li></a>             
        </ul>
    </div>
    <div class="item-footer col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1>EMPRESA</h1>
        <ul class="lista-footer">
            <a href=""><li>Sobre nosotros</li></a>
            <a href=""><li>Embajadores</li></a>
            <a href=""><li>Trabaja con nosotros</li></a>
            <a href=""><li>Pagar con Webpay</li></a>
            <a href=""><li>Coberturas AU</li></a>
        </ul>
    </div>
    <div class="item-footer col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <img src="{% static 'img/logo.png'%}" alt="">
        <div class="item-footer-redes">
            <a href="">
                <img src="{% static 'img/facebook.png' %}" alt="">
            </a>
            <a href="">
                <img src="{% static 'img/instagram.png' %}" alt="">
            </a>
            <a href="">
                <img src="{% static 'img/twitter.png' %}" alt="">
            </a>
        </div>
    </div>
</div>
